<!DOCTYPE html>
<html>

<head>
    <title>Lunch Options Arb</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'polls/css/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'polls/css/style.css' %}">
</head>

<body>
    <header>
        <div class="container">LUNCH OPTIONS</div>
    </header>
    <section><div class="container">
    <p>HOME PAGE<a href="{% url 'polls:logout' %}" class="u-pull-right">LOGOUT</a></p>
    <p>Welcome {{ username }},</p>
    
    <ul>
        <h5>List of hotel options</h5>
        {% for hotel in context_hotels %}
        <li>Hotel Name : {{ hotel.context_hotel_name}}
                <ul>
                    <li>Location : {{ hotel.context_hotel_location }}</li>
                    <li>Per Person Cost : {{ hotel.context_hotel_budget }}</li>
                    <li>Votes today : {{ hotel.context_hotel_votes }}</li>                    
                </ul>
        </li>
        {% endfor %}
    </ul>

    <ul>
        <h5>List of Time slots</h5>
        {% for time_slot in context_time_slots %}
            <li>
                {{ time_slot.context_time_slot }}
                <uL>
                <li>Votes today : {{ time_slot.context_time_slot_votes }}</li>
                </uL>
            </li>
        {% endfor %} 
    </ul>
    {% if selected_hotel is None or selected_time is None %}
        <form method="POST" action="{% url 'polls:vote' %}">
            {% csrf_token %}
            {{ context_vote_form.as_p }}
            <input type="submit" value="VOTE">
        </form>
    {% else %}
    <p>You've selected {{ selected_hotel }} at {{ selected_time }}</p>
    {% endif %}
    </div></section>
    <footer><div class="container">
        <hr>
        Copyright © 2018 <a href="mailto:johnkishorem@gmail.com">JK</a>
        <hr>
    </div></footer>
</body>

</html>