<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'polls/css/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'polls/css/style.css' %}">    
</head>

<body>
    <div class="container">
    <form method="POST">
        {% csrf_token %}
        {{ forms.as_p }}
        <input type="submit" value="REGISTER">
    </form>
    </div>
</body>

</html>