<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'polls/css/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'polls/css/style.css' %}">    
</head>

<body>
    <header>  
        <div class="container">LUNCH OPTIONS</div>
    </header>    
    <div class="container">
    <p>REGISTRATION PAGE<a href="{% url 'polls:login' %}" class="u-pull-right">&lt;BACK TO LOGIN</a></p>
    <form method="POST">
        {% csrf_token %}
        {{ forms.as_p }}
        <input type="submit" value="REGISTER">
    </form>
    </div>
</body>

</html>